<!--https://material.angular.io/guide/typography-->
<div class="mat-display-4">Display4</div>
<div class="mat-display-3">Display3</div>
<div class="mat-display-2">Display2</div>
<div class="mat-display-1">Display1</div>


<div class="mat-headline">headding for h1</div>
<div class="mat-title">mat-title</div>
<div class="mat-subheading-1">mat-subheading-1</div>
<div class="mat-subheading-2">mat-subheading-2</div>

<div class="mat-body-1">body text</div>
<div class="mat-body-2">bold body text</div>
<div class="mat-caption">caption text</div>

<div class="mat-typography">
  <h1>heading for h1</h1>
  <h2>heading for h2</h2>
  <h3>heading for h3</h3>
  <h4>heading for h4</h4>
</div>


